<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--web项目都是从web.xml开始读取配置的-->
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>springframe</servlet-name>
    <servlet-class>com.tang.mvcframework.servlet.DisparchSecvlrt</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:application.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springframe</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
